<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>playlist</title>
	</head>
    <body>
		<nav>
			
			<div class="nave">
			<div class="one"><img src="laguna.jpg"></div>
      <div class="two"><a href="/about">About</a></div>
      <div class="three"><a href="/news">News</a></div>
      <div class="four"><a href="/playlist">Playlist</a></div>
	  <div class="five"><a href="/#">Home</a></div>
			
		</div>
		
		</nav>
		<main>
			<h1>Who are we?</h1>
            <p>We are a reggae band that started playing in 2008, in Lima, Peru. We don't know why or how we did it, like the most beautiful things in life, it just happened. Each one on their journey and each one in their madness, with the simple objective of growing, delving into our consciousness and developing our own spirituality in order to elevate our steps a little on this earth, sharing the experience along the way with those who want to listen. . Our music is our therapy, our refuge, our respite. We invite you to join us.</p>
             
		</main>
        <footer>
			<p>Renato's Blog 3132150</p>
			<a href="https://www.griffith.ie/"><img src="griffith.png"></a>
		 </footer>
	</body>
	<style> 
		html body{width:100%;
		height: 100%;
		margin: 0;
		padding: 0;
		box-sizing: border-box;}
		
		.nave {display:grid;
			grid-template-columns: 0.1fr,0.1fr,0.1fr,0.1fr;
			gap:0;
			width:1500px;
		text-decoration: none;
	background-color:black;
	color: white;
	margin: 0rem;
	padding-right: 2.5rem;
	list-style: none;}
			 .nave a{text-decoration:none;
			color:white;	
		}
		.one {grid-row-start: 1;
		grid-row-end: 1;
	grid-column-start: 1;
	grid-column-end: 4;
	width: 50px;
	padding-top: 0.5rem;
	padding-left: 35rem;
	padding-bottom:1rem ;
	}
		.two {grid-row-start: 2;
		grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 2;
	padding-left: 2rem;}
		.three{grid-row-start: 2;
		grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 3;
	padding-left: 2rem;}
	.four{grid-row-start: 2;
		grid-row-end: 2;
	grid-column-start: 4;
	grid-column-end: 4;
	padding-left: 2rem;}
	.five{grid-row-start: 2;
		grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 1;
	padding-left: 2rem;}
	
	.two :hover{color: greenyellow;}
	.three :hover{color: greenyellow;}
	.four :hover{color: greenyellow;}
	.five :hover{color: greenyellow;}
	
	.two a{font-size: 2rem;
	font-family:'Gill Sans',sans-serif;}
	.three a{font-size: 2rem;
		font-family:'Gill Sans',sans-serif;}
	.four a{font-size: 2rem;
		font-family:'Gill Sans',sans-serif;}
		.five a{font-size: 2rem;
			font-family:'Gill Sans',sans-serif;
		padding-left: 1rem;}

		main{padding: 10rem;
		margin-right: 0rem;
		margin-bottom: 0rem;
	background-color: bisque;}
	
	main h1{font-weight: bold;
	font-size: 2rem;
border-bottom: solid;
text-align: center;}
main p{font-family:'Gill Sans',sans-serif;
font-size: 1.5rem;
text-align: center justify;}

		footer{background-color: black;
		margin-top: 0rem;
		padding-top: 0.5rem;
		border-top: 0rem;
		padding-bottom: 5rem;
}
	</style>
    </html>