---

---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<nav>
			<div>
			<ul class="nave">
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">News</a></li>
				<li><a href="#">Playlist</a></li>
			</ul>
		</div>
		</nav>
		<main>
			<img src="mandala.jpg">
		
		<style> .nave {display:flex;
		gap:5rem;
	text-decoration: none;
background-color: green;
margin: 0rem;
padding: 2rem;
list-style: none;}
         .nave a{text-decoration:none;
		color:white;	
	}
	main{background-image: url(..images/mandala.jpg)}
		</style>
		<h1>Hola mundos</h1>
		<p style="color:green">hola como estas?</p>
	</main>
	</body>
</html>
