---

---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<nav>
			<div>
			<ul class="nave">
				<li><a href="#">About</a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">blog2</a></li>
			</ul>
		</div>
		</nav>
		<style> .nave {display:flex;
		gap:5rem;
	text-decoration: none;
background-color: green;}
         .nave a{text-decoration:none;
		color:white;}
		</style>
		<h1>Hola mundos</h1>
		<p style="color:green">hola como estas?</p>
		
	</body>
</html>
