<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>News</title>
	</head>
    <body>
		<nav>
			
			<div class="nave">
			<div class="one"><img src="laguna.jpg"></div>
      <div class="two"><a href="/about">About</a></div>
      <div class="three"><a href="/news">News</a></div>
      <div class="four"><a href="/playlist">Playlist</a></div>
	  <div class="five"><a href="/#">Home</a></div>
			
		</div>
		
		</nav>
		<main>
            <div class="newsbox">
            <div class="post1"><a  href="/post.astro/postone">Laguna Pai's Peruvian reggae arrives in Argentina and will pass through Mar del Plata</a></div>
            <div class="post2"><a  href="/post.astro/posttwo">Muvid Awards 2024: Greeicy, Milena Wharton and Laguna Pai will...</a></div>
            <div class="post3"><a  href="post.astro/postthree">LaCUNA Fest: a meeting in Lima with the main reggae bands from Latin America</a></div>
        </div>
        </main>
        <footer>
			<p>Renato's Blog 3132150</p>
			<a href="https://www.griffith.ie/"><img src="griffith.png"></a>
		 </footer>
	</body>
	<style> 
		html body{width:100%;
		height: 100%;
		margin: 0;
		padding: 0;
		box-sizing: border-box;}
		
		.nave {display:grid;
			grid-template-columns: 0.1fr,0.1fr,0.1fr,0.1fr;
			gap:0;
			width:1500px;
		text-decoration: none;
	background-color:black;
	color: white;
	margin: 0rem;
	padding-right: 2.5rem;
	list-style: none;}
			 .nave a{text-decoration:none;
			color:white;	
		}
		.one {grid-row-start: 1;
		grid-row-end: 1;
	grid-column-start: 1;
	grid-column-end: 4;
	width: 50px;
	padding-top: 0.5rem;
	padding-left: 35rem;
	padding-bottom:1rem ;
	}
		.two {grid-row-start: 2;
		grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 2;
	padding-left: 2rem;}
		.three{grid-row-start: 2;
		grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 3;
	padding-left: 2rem;}
	.four{grid-row-start: 2;
		grid-row-end: 2;
	grid-column-start: 4;
	grid-column-end: 4;
	padding-left: 2rem;}
	.five{grid-row-start: 2;
		grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 1;
	padding-left: 2rem;}
	
	.two :hover{color: greenyellow;}
	.three :hover{color: greenyellow;}
	.four :hover{color: greenyellow;}
	.five :hover{color: greenyellow;}
	
	.two a{font-size: 2rem;
	font-family:'Gill Sans',sans-serif;}
	.three a{font-size: 2rem;
		font-family:'Gill Sans',sans-serif;}
	.four a{font-size: 2rem;
		font-family:'Gill Sans',sans-serif;}
		.five a{font-size: 2rem;
			font-family:'Gill Sans',sans-serif;
		padding-left: 1rem;}

		main{padding: 10rem;
		margin-right: 0rem;
		margin-bottom: 0rem;
	background-color: bisque;}

		footer{background-color: black;
		margin-top: 0rem;
		padding-top: 0.5rem;
		border-top: 0rem;
		padding-bottom: 5rem;
}
.newsbox {display:grid;
    grid-template-columns: 0.1fr,0.1fr,0.1fr,0.1fr;
gap: 7rem;}
.post1 {grid-row-start: 1;
		grid-row-end: 1;
	grid-column-start: 1;
	grid-column-end: 1;
background-color:black ;
border-radius: 20%;
padding: 5rem;}
.post2 {grid-row-start: 1;
		grid-row-end: 1;
	grid-column-start: 2;
	grid-column-end: 2;
    background-color:black ;
    border-radius: 20%;
    padding: 5rem;}
.post3 {grid-row-start: 1;
		grid-row-end: 1;
	grid-column-start: 3;
	grid-column-end: 3;
    background-color:black ;
    border-radius: 20%;
    padding: 5rem;}
    .post1 a{text-decoration: none;
        font-size: 1rem;
        font-family:'Gill Sans',sans-serif;
    color:aliceblue}
    .post2 a{text-decoration: none;
        font-size: 1rem;
        font-family:'Gill Sans',sans-serif;
    color:aliceblue}
    .post3 a{text-decoration: none;
        font-size: 1rem;
        font-family:'Gill Sans',sans-serif;
    color:aliceblue}
    .post1 :hover{background-color: greenyellow;
        color: black;}
    .post2 :hover{background-color: greenyellow;
            color: black;}
    .post3 :hover{background-color: greenyellow;
                color: black;}
	</style>
    </html>